{% extends 'base.html.twig' %}
{% block title%}
    Accueil
{% endblock %}

{% block body%}
    {% for message in app.flashes('ok') %}
        <div class="flash-notice alert alert-success" style="text-align: center;font-size: 20px;">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('aie') %}
        <div class="flash-notice alert alert-danger" style="text-align: center;font-size: 20px;">
            {{ message }}
        </div>
    {% endfor %}
    <a href="/administrateur/gestion"><button class="btn btn-primary">Creer des intervenants</button></a>
    <a href="/administrateur/accueil"><button class="btn btn-primary">Revenir au calendrier</button></a>
    <div style="background-color: white; width: fit-content; border-radius: 10px;padding: 10px;margin-top:15%;float: left">
        {{ form_start(formMatiere) }}
        <h1>Créer une matière</h1>
        {{ form_label(formMatiere.Nom_matiere, null, {'label_attr': {'class':'form_label'}}) }}
        {{ form_widget(formMatiere.Nom_matiere) }}
        <br>
        <br>
        {{ form_label(formMatiere.heure_total, null, {'label_attr': {'class':'form_label'}}) }}
        {{ form_widget(formMatiere.heure_total) }}
        <br>
        <br>
        <center><input type="submit" class="btn btn-success" value="Creer"></input></center>
        {{ form_end(formMatiere) }}
    </div>
{% endblock %}